<%= render '/devise/shared/error_message', temp: @book %>

<h2>User info</h2>

<div class="row">
<div class="col-6">
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100,　format: 'jpeg', fallback: "no_image.jpg", size: 100, class: "info_image" %>
</div>
<div class="col-6 py-4">
<%= render partial: 'users/follow_form', locals: { user: @user } %>
</div>
</div>

<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
      <td><strong><%= @user.following.count %></strong> following</td>
      <td><strong><%= @user.followers.count %></strong> followers</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <diV class="col-12 btn btn-light">
    <%= link_to "", edit_user_path(current_user.id), class: "fas fa-user-cog" %>
  </diV>
</div>