<h2>New book</h2>

<% temp = Book.new %>
<% temp.tags.build %>

<%= form_for(temp) do |form| %>

  <div class="field row">
  	<%= form.label :title, "Title" %>
  	<%= form.text_field :title, class: "col-xs-12" %>
  </div>

  <div class="field row">
  	<%= form.label :body, "Opinion" %>
  	<%= form.text_area :body, class: "col-xs-12" %>
  </div>

  <div class="tags">
    <%= form.fields_for :tags do |f| %>
      <%= f.label :name, "Tags" %>
      <%= render "tag_fields", f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add tags", form, :tags, class: "btn" %>
    </div>
  </div>

  <br>
  <div class="action row">
    <%= form.submit "Create Book", class: "btn btn-primary col-xs-12" %>
  </div>

<% end %>