<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-dark bg-dark">
      <div class="container">
        <nav class="navbar-brand">
          <span>Bookers2</span>
        </nav>
        <nav class="navbar-nav">
          <ul class="nav justify-content-end">
            <% if user_signed_in? %>
              <div class="search-form">
              <%= form_tag(searches_path , method: :get) do %>
                <%= text_field(@search_content, :search_word)%>
                <%= select @search_content, :search_target, [["Users","Users"], ["Books","Books"]] %>
                <%= select @search_content, :search_method, [["forward_match","forward_match"], ["backward_match","backward_match"], ["perfect_match","perfect_match"], ["partial_match","partial_match"]] %>
                <%= submit_tag "Search" %>
              <% end %>
              </div>
              <li class="mx-3"><%= link_to ' Home', user_path(current_user.id), class: "nav-link fas fa-home" %></li>
              <li class="mx-3"><%= link_to ' Users', users_path, class: "nav-link fas fa-user" %></li>
              <li class="mx-3"><%= link_to ' Books', books_path, class: "nav-link fas fa-book" %></li>
              <li class="mx-3"><%= link_to ' logout', destroy_user_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>
            <% else %>
              <li class="mx-3"><%= link_to ' Home', root_path, class: "nav-link fas fa-home" %></li>
              <li class="mx-3"><%= link_to ' About', home_about_path, class: "nav-link fas fa-link" %></li>
              <li class="mx-3"><%= link_to ' sign up', new_user_registration_path, class: "nav-link fas fa-edit" %></li>
              <li class="mx-3"><%= link_to ' login', new_user_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
            <% end %>
          </ul>
        </nav>
        </div>
      </div>
    </header>

    <div class="body">
      <div class="container">
        <div class="row">
          <p class="col-12" id="notice"><%= notice %><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-3 offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>



